body {
  min-width: 200px;
  font-family: roboto;
  font-weight: normal;
  font-size: 15px;
}
hr {
  border: 1px solid #eee;
}
ul {
  -webkit-padding-start: 0;
}
li {
  padding: 10px;
}
h1 {
  font-weight: normal;
  font-size: 20px;
}
.value {
  margin: 10px;
}
